Package: neodymium-dbgsym
Package-Type: ddeb
Source: neodymium
Version: 0.1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Alex Stenzel <alexhstenzel@gmail.com>
Installed-Size: 16
Depends: neodymium (= 0.1.0)
Section: debug
Priority: optional
Description: debug symbols for neodymium
Build-Ids: 6d05fb49feb6a244dbbaa86aadc8165718792ad5
